<!DOCTYPE html>
<html>

  <head>
    <title>Front page</title>
  </head>

  <body>
    <h1>Welcome to your recipe stash!</h1>
    <form action="/sign_in" method="post">
      <fieldset>
      <legend>Log in</legend>
        <p>
          <label for="username">Username:</label>
          <input type="text" id="username", name="username"/>
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="text" id="password" name="password"/>
        </p>
        <p>
          <input type="submit" value="Log in" />
        </p>
      </fieldset>
    </form>
    <a href="sign_up">Create account</a>
  </body>

</html>
