<!DOCTYPE html>
<html>

  <head>
    <title>Sign up</title>
  </head>

  <body>
    <h1>Create an account for Recipe stash</h1>
    <form action="/create_account" method="post">
      <fieldset>
      <legend>Choose a username & password</legend>
        <p>
          <label for="username">Username:</label>
          <input type="text" id="username", name="username"/>
        </p>
        <p>
          <label for="password1">Password:</label>
          <input type="text" id="password1" name="password1"/>
        </p>
        <p>
          <label for="password2">Repeat password:</label>
          <input type="text" id="password2" name="password2"/>
        </p>
        <p>
          <input type="submit" value="Sign up" />
        </p>
      </fieldset>
    </form>
  <body>

</html>